<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pdfconverter.jpg2pdf.pdf.converter">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name="com.pdfconverter.jpg2pdf.pdf.converter.PdfApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/OrangeAppTheme"
        tools:replace="icon"
        tools:targetApi="q">

        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="@bool/FIREBASE_ANALYTICS_DEACTIVATED" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />

        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.splash.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:fitsSystemWindows="true"
            android:screenOrientation="locked"
            android:theme="@style/AppThemeFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>
                <data
                    android:mimeType="application/pdf"
                    android:scheme="file" >
                </data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>
                <data
                    android:mimeType="application/pdf"
                    android:scheme="content" >
                </data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data
                    android:host="*"
                    android:pathPattern=".*\.[pP][dD][fF]"
                    android:scheme="file" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.main.MainActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="locked"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/OrangeAppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="pdfconvertprox.page.link/scandocument"
                    android:scheme="https"/>
                <data
                    android:host="pdfconvertprox.page.link/IAP"
                    android:scheme="https"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.imagetopdf.ImageToPdfActivity"
            android:theme="@style/OrangeAppTheme"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.formatpdf.FormatPdfActivity"
            android:theme="@style/OrangeAppTheme"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.firstopen.FirstOpenActivity"
            android:theme="@style/OrangeAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.theme.ThemeActivity"
            android:theme="@style/OrangeAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.texttopdf.TextToPdfActivity"
            android:theme="@style/OrangeAppTheme"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.texttopdf.done.TextToPdfDoneActivity"
            android:theme="@style/OrangeAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.imagetopdf.done.ImageToPdfDoneActivity"
            android:theme="@style/OrangeAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.protectpdf.ProtectPdfActivity"
            android:theme="@style/OrangeAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.protectpdf.done.ProtectPdfDoneActivity"
            android:theme="@style/OrangeAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.unlockpdf.UnlockPdfActivity"
            android:theme="@style/OrangeAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.unlockpdf.done.UnlockPdfDoneActivity"
            android:theme="@style/OrangeAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.exceltopdf.ExcelToPdfActivity"
            android:theme="@style/OrangeAppTheme"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.exceltopdf.done.ExcelToPdfDoneActivity"
            android:theme="@style/OrangeAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.addwatermark.AddWaterMarkActivity"
            android:theme="@style/OrangeAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.addwatermark.done.AddWaterMarkDoneActivity"
            android:theme="@style/OrangeAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.mergepdf.MergePdfActivity"
            android:theme="@style/OrangeAppTheme"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.mergepdf.done.MergePdfDoneActivity"
            android:theme="@style/OrangeAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.common.CommonDoneActivity"
            android:theme="@style/OrangeAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.split.SplitPdfActivity"
            android:theme="@style/OrangeAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.split.done.SplitPdfDoneActivity"
            android:theme="@style/OrangeAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.pdftoimage.PdfToImageActivity"
            android:theme="@style/OrangeAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.pdftoimage.done.PdfToImageDoneActivity"
            android:theme="@style/OrangeAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.pdftotext.PdfToTextActivity"
            android:theme="@style/OrangeAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.pdftotext.done.PdfToTextDoneActivity"
            android:theme="@style/OrangeAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.editpdf.EditPdfActivity"
            android:theme="@style/OrangeAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.viewpdf.ViewPdfActivity"
            android:theme="@style/OrangeAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.search.SearchActivity"
            android:theme="@style/OrangeAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.cropimage.CropImageActivity"
            android:theme="@style/OrangeAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.ui.imageview.ImageViewActivity"
            android:theme="@style/OrangeAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>

        <activity
            android:name=".lib.ImageScanActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.pdfconverter.jpg2pdf.pdf.converter.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="com.pdfconverter.jpg2pdf.pdf.converter.service.AppFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>